* text=auto eol=lf

*.avif binary
*.gif binary
*.jpeg binary
*.jpg binary
*.pdf binary
*.png binary
*.webp binary
*.7z binary
*.a binary
*.dll binary
*.dylib binary
*.exe binary
*.gz binary
*.ico binary
*.lib binary
*.so binary
*.zip binary
*.mp3 binary
*.mp4 binary
*.otf binary
*.ttf binary
*.wasm binary
*.wav binary
*.webm binary
*.woff binary
*.woff2 binary

*.svg text eol=lf diff

# Linguist Overrides
docs/**/*         linguist-documentation=false eol=lf linguist-detectable
tests/**/*        linguist-documentation=false eol=lf linguist-detectable
tools/**/*        linguist-documentation=false eol=lf linguist-detectable
cpp/**/*          linguist-documentation=false eol=lf linguist-detectable
src/**/*          linguist-documentation=false eol=lf linguist-detectable
